{{ define "main" }}
  {{ .Content }}
    <h5>Most recent article</h5>
    {{$articles := ($.Site.GetPage "section" "articles").Pages.ByPublishDate.Reverse}}
    {{ range first 1 $articles }}
      <article class="all-list">
        <div class="title-list">
          <h3><a href="{{ .RelPermalink }}">{{ if .Draft }}<i>(Draft)</i> {{ end }}{{ .Title }}</a></h3>
          <div class="title-list-date">
            {{ if eq .Date.IsZero false }}
              <time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
            {{ end }}
            {{ if (and (eq .Lastmod.IsZero false) (ne .Lastmod .Date)) }}
              (updated)
            {{ end }}
          </div>
        </div>
        <div class="body-list">
          <p>
            {{ .Summary }}
          </p>
        </div>
      </article>
    {{ end }}
    {{ range first 2 ( where .Pages "Section" "articles" ) }}
      <h4><a href="{{ .RelPermalink }}">All articles.</a></h4>
    {{ end}}

{{ end }}
