{{ define "main" }}
  {{ .Content }}

  <div class="articles-container">
    <h2 class="articles-heading">Latest Articles</h2>

    {{$articles := ($.Site.GetPage "section" "articles").Pages.ByPublishDate.Reverse}}

    {{ range first 3 $articles }}
      <article class="all-list article-secondary">
        <div class="title-list">
          <h4><a href="{{ .RelPermalink }}">{{ if .Draft }}<i>(Draft)</i> {{ end }}{{ .Title }}</a></h4>
          <div class="title-list-date">
            {{ if eq .Date.IsZero false }}
              <time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
            {{ end }}
            {{ if (and (eq .Lastmod.IsZero false) (ne .Lastmod .Date)) }}
              (updated)
            {{ end }}
          </div>
        </div>
      </article>
    {{ end }}
    {{ range first 2 ( where .Pages "Section" "articles" ) }}
      <p class="all-articles-link"><a href="{{ .RelPermalink }}">All articles.</a></p>
    {{ end}}
{{ end }}
